<div class="col-10 offset-1">
  <h1>About Splurty</h1>

<p>
  Splurty was build by <a target="_blank" href="https://github.com/hyonlee42">Hyon</a>. Just a boy who wants to learn coding.
</p>
<br />
<p>
  He's trying his best, but sometimes your best isn't good enough, so he asks for help.
</p>
<p>
  If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>
</p>   

</div>