<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

<p>
  Splurty was build by <a target="_blank" href="https://github.com/hyonlee42">Hyon</a>. Just a boy who wants to learn coding.
</p>
<br />
<p>
  He's trying his best, but sometimes your best isn't good enough, so he asks for help.
</p>
<p>
  If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>
</p>   

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'hyon.jpg', class: 'img-fluid' %>
  </div>
  
  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Hyon Lee</h2>
    <br />
    <p>
        Hyon Lee manages an airbnb, day trades stocks, and helps out his parents with their business of selling jewelry. As such, he has some free time, and hopefully he can use it in a productive manner when it comes to learning how to code.
    </p>
  </div>      


</div>
<br class="clear" />

</div>
